<%- include("../partials/header")  -%>

<section>
    <form>
        <p>Add New Surf Spot</p>
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
        </div>
        <div>
            <select name="locationArea" id="cars">
                <option value="North America/Pacific">North America/Pacific</option>
                <option value="Hawaii/South Pacific">Hawaii/South Pacific</option>
                <option value="North America/Atlantic">North America/Atlantic</option>
              </select>
        </div>
        
        <div>
            <label for="name">Description</label>
            <input type="text" id="name" name="name">
        </div>
    </form>
</section>



<%- include("../partials/footer")  -%>