<% include ../partials/header %>


<div class="container">
    <!-- main container -->
    <main>

        <!-- row for card/map-->
        <div class="row m-3 justify-content-between">
            <!-- column for card-->
            <div class="col-12 col-lg-6">
                <div class="card border-light">
                    <div class="card-header">
                        Beach NAME
                    </div>
                    <img src="https://images.unsplash.com/39/yvDPJ8ZSmSVob7pRxIvU_IMG_40322.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Get Location</a>
                    </div>
                </div>
                <!-- end of col for card-->
            </div>
            <!-- column for maps/extras-->
            <div class="col-12 col-lg-6 pt-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <!-- end of list-->
                <!--end of column-->
            </div>
        </div>
        <!-- end of row-->
        <div class="row">
            <div class="col">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            <!-- end of list group-->
            </div>
            <!-- end of row-->
        </div>


</div>

<!-- end of main-->
</main>

<!-- end of main container -->
</div>


<% include ../partials/footer %>
