.smallimg img {
    max-width: 300px;
    height: 300px;
    object-fit: contain;
}

.tinyimg img {
    max-width: 200px;
    height: 300px;
    object-fit: contain;
}

.aligncenter {
    text-align: center;
}

.card div {
    width: 30%;
   object-fit: cover;
}