<%- include("../partials/header")  -%>

<!-- this is prodcut-->

<main>
    <p>Products</p>
</main>
   
        



    <!-- end of main container-->
</div>
<script>

</script>

<%- include("../partials/footer") -%>