<% include ../partials/header %>



<div class="container">
    <!--main container above-->



    <!-- Title -->
    <div class="row py-4 text-center">
        <div class="col">
            <h2>Surfboard Reviews</h2>
            <a href="">Add Review</a>
        </div>

    </div>

    <!-- List All beaches of area-->
    <div class="row">
        <div class="col-3">
            <div class="card" >
                        <h5 class="card-header">Featured</h5>
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1517699418036-fb5d179fef0c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                        <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                </div>
        </div>
        <div class="col-3">
            <div class="card" >
                        <h5 class="card-header">Featured</h5>
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1517699418036-fb5d179fef0c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                        <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">View Forecast</a>
                        </div>
                </div>
        </div>
    </div>
        
            
   
    <!-- end of extras row-->



    <!-- end of main container-->
</div>
<script>

</script>

<% include ../partials/footer %>