<%- include("../partials/header")  -%>


<div class="container bodycontainer">
    <form action="/reviews/product/new" method="POST">
        <label for="product">
            Product Name: 
            <input id="product" name="review[product]"type="text" />
        </label>
        <label for="company">
            Company:
            <input id="company" name="review[company]" type="text"/>
        </label>
        <label for="productType">
            Product Type:
            <select id="productType" name="review[productType]">
                <option value="Surfboard">Surboard</option>
                <option value="Wetsuit">Wetsuit</option>
                <option value="Extras">Other</option>
            </select>
        </label>
        <label for="imgUrl">
            Image URL:
            <input id="imgUrl" name="review[imgUrl]" type="text"/>
        </label>
        <label for="company">
            Company Website<span>*</span>:
            <input id="company" name="review[companyWebsite]" type="text"/>
        </label>
        <label for="description">
            Description<span>*</span>:
            <input id="description" name="review[description]" type="text"/>
        </label>
        <label for="fullReview">
            Review
            <textarea id="fullReview" name="review[fullReview]"></textarea>
        </label>
        <label for="stars">
            Stars:
            <select id="stars" name="review[stars]">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </label>
        <button type="Submit">Add Review</button>
        </form>

</div>







<%- include("../partials/footer")  -%>