<% include ../partials/header %>


<div class="container">
    <!-- main container -->
    <main>

        <!-- row for card/map-->
        <div class="row m-3 justify-content-center">
            <!-- column for card-->
            <div class="col-12">
                    <div class="card mx-auto mb-3">
                            <div class="card-header"><h2><%=review.product%></h2></div>
                            <div class="row no-gutters">
                              <div class="col-md-4">
                                <img src="<%=review.imgUrl%>" class="card-img" alt="...">
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                  <h5 class="card-title"><%=review.description%></h5>
                                  <p class="card-text"><%=review.fullreview%></p>
                                  <p class="card-text"><small class="text-muted">Author goes here</small></p>
                                </div>
                              </div>
                            </div>
                          </div>
                <!-- end of card-->
                </div>
            <!-- end of column-->
            </div>
        
        </div>
            
        
        <div class="row">
            <div class="col">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            <!-- end of list group-->
            </div>
            <!-- end of row-->
        </div>
<!-- end of main-->
</main>

</div>


<!-- end of main container -->
</div>


<% include ../partials/footer %>
