<% include ../partials/header %>



<div class="container">
<!--main container above-->

<div class="aligncenter m-3">
<h1>Gear Reviews</h1> 
<br>
<a href=""> VIEW ALL REVIEWS</a>
<a href="">ADD REVIEW</a>
</div>


<!-- Surboard reviews -->
<div class="row m-3">
    <div class="col">
        <h2>LATEST SURFBOARDS REVIEWS</h2>
    </div>
</div>

<div class="row smallimg aligncenter">
    <div class="col">
        <img src="https://images.unsplash.com/photo-1511898644705-cd35c968cf14?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            alt="">
        <div>
            <h3>THIS IS A SURBOARD REVIEW</h3>
            <p>BLAH BLAH BLAH</p>
            <br>
            <a href="">READ MORE</a>
        </div>
    </div>
    <div class="col">
        <img src="https://images.unsplash.com/photo-1511898644705-cd35c968cf14?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            alt="">
        <div>
            <h3>THIS IS A SURBOARD REVIEW</h3>
            <p>BLAH BLAH BLAH</p>
            <br>
            <a href="">READ MORE</a>
        </div>
    </div>
    <div class="col">
        <img src="https://images.unsplash.com/photo-1511898644705-cd35c968cf14?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            alt="">
        <div>
            <h3>THIS IS A SURBOARD REVIEW</h3>
            <p>BLAH BLAH BLAH</p>
            <br>
            <a href="">READ MORE</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <a href="MORE SURFBOARD REVIEWS"></a>
    </div>
</div>
<!-- Wetsuits-->
<div class="row">
    <div class="col">
        <h2>Wetsuits</h2>
    </div>

</div>

<div class="row smallimg aligncenter">
    <div class="col">
        <img src="https://images.pexels.com/photos/1546104/pexels-photo-1546104.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            alt="">
        <div>
            <h3>THIS IS A SURBOARD REVIEW</h3>
            <p>BLAH BLAH BLAH</p>
            <br>
            <a href="">READ MORE</a>
        </div>
    </div>
    <div class="col">
        <img src="https://images.pexels.com/photos/1546104/pexels-photo-1546104.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            alt="">
        <div>
            <h3>THIS IS A SURBOARD REVIEW</h3>
            <p>BLAH BLAH BLAH</p>
            <br>
            <a href="">READ MORE</a>
        </div>
    </div>
    <div class="col">
        <img src="https://images.pexels.com/photos/2564861/pexels-photo-2564861.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            alt="">
        <div>
            <h3>THIS IS A SURBOARD REVIEW</h3>
            <p>BLAH BLAH BLAH</p>
            <br>
            <a href="">READ MORE</a>
        </div>
    </div>
</div>

<!-- The extras -->
<div class="row">
    <div class="col">
        <h2>THE EXTRAS</h2>
    </div>

</div>

<!-- the extras articles-->
<div class="row tinyimg m-0 aligncenter">
    <div class="col">
        <div>
            <img src="https://images.unsplash.com/photo-1528150377705-20c6405f1ed5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
            <h3>THIS IS A SURBOARD REVIEW</h3>
            <p>BLAH BLAH BLAH</p>
            <br>
            <a href="">READ MORE</a>
        </div>

    </div>
    <div class="col">
        <div>
            <img src="https://images.unsplash.com/photo-1423594390679-b5d9611e1a2f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
            <h3>EXTRA REVIEW</h3>
            <p>BLAH BLAH BLAH</p>
            <br>
            <a href="">READ MORE</a>
        </div>

    </div>
    <div class="col">
        <div>
            <img src="https://images.unsplash.com/photo-1528150377705-20c6405f1ed5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
            <h3>EXTRA REVIEW</h3>
            <p>BLAH BLAH BLAH</p>
            <br>
            <a href="">READ MORE</a>
        </div>

    </div>
    <div class="col">
        <div>
            <img src="https://images.unsplash.com/photo-1423594390679-b5d9611e1a2f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
            <h3>EXTRA REVIEW</h3>
            <p>BLAH BLAH BLAH</p>
            <br>
            <a href="">READ MORE</a>
        </div>
    </div>
</div>
<!-- end of extras row-->



<!-- end of main container-->
</div>
<script>
    
</script>

<% include ../partials/footer %>