<%- include("../../partials/header");  %>

<!-- Show Surf Spot, Reviews-->
<main>
    <!-- <h1>And New Surf Spot</h1>
    <form action="/location/new" method="post"  name="newlocation" >
        <div class="form-group">
          <label for="name">Location Name</label>
          <input name="name" type="text" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="region">Region/Country</label>
            <select name="region" class="form-control" id="region">
              <option>North America</option>
              <option>South America</option>
              <option>Europe</option>
              <option>Asia</option>
              <option>Australia/South Pacific</option>
            </select>
          </div>
        <div class="form-group">
          <label for="rating">Rating</label>
          <select name="rating" class="form-control" id="rating">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" class="form-control" id="description" rows="5"></textarea>
          </div>
        <div class="form-group">
            <label for="review">Review </label>
            <textarea  name="revew" class="form-control" id="review" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form> -->
</main>


<%- include("../../partials/footer");  %>
